#bioPic {
    transform: rotate(90deg);
    margin: 0 10px 0 0;
}


/* .clearfix::after {
    content: "";
    clear: both;
    display: block;
} */

.bodyText {
    background-color: blue;
}

#extraDark {
    color: red;
    background-color: black;
}

#column3 {
    background-color: White;
}